[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/whisper"]
	path = vendored/whisper
	url = https://github.com/ggml-org/whisper.cpp.git
